<!DOCTYPE html>
<html>
  <head>
    <title>Twittter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <% if flash[:notice] %>
      <div class="notification is-primary is-full">
        <%= notice %>
      </div>
    <% elsif flash[:alert]%>
      <div class="notification is-danger is-full">
      <%= alert %>
    <% end %>
    <%= render 'layouts/naviation' %>
    <%= yield %>
  </body>
</html>
